@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    font-family: "Verdana";
}

.nav-name {
    font-size: 18px;
    font-weight: bold;
}

.nav-name-1 {
    font-size: 18px;
    font-weight: bold;
    color: #f44444;
}

.navlinks-1 {
    color: #f44444 !important;
}

.navlinks {
    color: black !important;
}

.home-page {
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735821276/sixteen-clothing/assets/images/slide_01.jpg");
    background-size: cover;
    height: 400px;
    text-align: center;
}

.home-page-h1 {
    color: #f44444;
    font-weight: 600;
}

.home-page-h2 {
    color: #ffffff;
    font-weight: 500;
}

.latest-products-link {
    color: #f44444;
    font-size: 12px;
    font-weight: 600;
}

.lp-card-1 {
    border: 1px solid #f4f4f4;
}

.lp-card-1-img {
    width: 100%;
    box-sizing: border-box;
}

.lp-card-1-title {
    color: #34779e;
    font-weight: 600;
}

.lp-card-1-rup {
    font-weight: 600;
    color: black;
    font-size: 13px;
}

.lp-card-1-para {
    color: grey;
    font-size: 13px;
}

.lp-card-1-review {
    color: #f44444;
    font-size: 14px;
}

.about-sec-h1 {
    font-size: 25px;
}

.about-sec-h2 {
    color: #34779e;
    font-weight: 600;
}

.about-sec-p {
    color: grey;
}

.about-sec-list {
    list-style-type: square;
}

.about-sec-l-elt {
    color: grey;
}

.about-sec-btn {
    background-color: #f44444;
    border-width: 0px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    width: 100px;
    padding: 10px;
}

.about-sec-img {
    width: 100%;
    height: 80%;
}

.purchase-sec {
    width: 80%;
    background-color: #f4f4f4;
    padding: 30px;
    margin: auto;
    text-align: center;
}

.purchase-sec-btn {
    background-color: #f44444;
    border-width: 0px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    width: 100%;
    padding: 10px;
}

.footer-hr {
    width: 80%;
    margin: auto;
}

.footer-sec-p {
    font-size: 12px;
    padding: 40px;
    text-align: center;
}

@media (min-width: 768px) {
    .purchase-sec {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .purchase-sec-btn {
        margin: auto;
    }
}